@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;700&display=swap');
@import url('https://use.fontshare.com/css?family=satoshi:400,500,600&display=swap');





body{
  background-color: #FFFFFF;
}

.poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.clashDisplay {
  font-family: 'Clash Display', sans-serif;
  font-style: normal;
}

.satoshi{
  font-family: 'Satoshi', sans-serif;
  font-style: normal;
}



@keyframes scaleUp {
  0% {
    transform: scale(1.5);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-cart-item {
  animation: scaleUp 0.3s ease-in-out;
}




